*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: rgb(19, 4, 19); */
}
header {
    width: 100%;
    top: 0;
    left: 0;
    height: 10px;
    background-color: purple;
    color: #fff;
    padding: 30px;
    position: fixed;
}
.logo {
    color: white;
    text-decoration: none;
    margin-right: 600px;
    font-size: 20px;
}
nav {
    background-color: lightpink;
    margin: 0 auto;
    margin-top: -20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
nav > a {

    margin-inline: 10px;
    text-decoration: none;
}
nav  a:hover {
    color: white;
}
.homepage {
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    display: flex;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
    background-color: rgb(19, 4, 19);
}
.homecontent {
    text-align: left;
    justify-content: center;
    text-align: center; 
    width: 40%;  
    min-height: auto;
    color: white;
    /* flex-direction: column; */
    margin-left: 30px;
    margin-top: 100px;
    flex-direction: column;    
}
.social-links {
    width: 150px;  
    height: 50px;
}
.button:hover {
        color: white;
}
.aboutpage {
    width: 100%;
    justify-content: space-between;
    height:400%;
    background-size: cover;
    display: flex;
    padding-bottom: 100px;
    background-color: rgb(19, 4, 19); 
}
.aboutcontent {
    color: white;
    margin-top: -450px;
}
.aboutimage {
    padding-top: 150px;
}
.servicepage {
    width: 100%;
    justify-content: space-between;
    background-size: cover;
    display: flex;
    margin-top: -100px;
    background-color: rgb(19, 4, 19); 
    justify-content: center;
    text-align: center;
}
.services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.service-card {
    background-color: #000932;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid purple;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.service-card:hover {
    transform: scale(1.05);
}
.service-icon {
    font-size: 30px;
    margin-bottom: 10px;
}
.service-title {
    font-size: 20px;
    margin-bottom: 10px;
}
.service-description {
    font-size: 14px;
    color: #dddddd;
    text-align: left;
}
.service-icon {
    color: blue;
    justify-content: start;
    margin-right: 300px;
}
.skills {
    justify-content: center;
    align-items: center;
}
.learn-more-button{
    background-color: #59d9db;
    color: black;
    padding: 8px 16px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
} 
.social-links > svg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid lightblue;
    border-radius: 50%;
    font-size: 5px;
}
.social-links a:hover {
    background-color: purple;
    box-shadow: 0 0 20px lightblue;
}
.myskills {
    width: 100%;
    justify-content: space-between;
    background-size: cover;
    /* background-color: rgb(19, 4, 19);  */
    justify-content: center;
    text-align: center;
}
.skillscontent {
    margin-left: 50px;
}
@media (max-width:600px) {
    .container {
        padding: 20px;
    }
    .service-card {
        width: 90%;
    }
    .service-title {
        font-size: 18px;
    }
    .service-description {
        font-size: 12px;
    }
    h1 {
        font-weight: 600;
        letter-spacing: 500;
    }
}